/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Jost:wght@500&family=Kanit:ital,wght@0,300;1,500&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/* Contacto */
#Contacto {
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
    display: flex;
    background-color: rgb(158, 181, 162);
    position: relative;
}

#Contacto .formulario {
    display: flex;
    padding: 1.875rem 0.625rem; /* 30px 10px */
    margin: 0;
    height: 95vh;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
}

#titulo_contacto {
    background-color: rgb(76, 29, 62);
    display: table;
    font-size:  2.5rem;
    color: whitesmoke;
    width: 100%;
    padding:2rem 2rem;
    margin:0;
    text-align: center;
    position: relative;
}

#Contacto .container {
    width: 50%;
    font-family: 'Kanit', sans-serif;
    position: relative;
    top: 0.625rem; /* 10px */
    right: 15%;
    justify-content: space-between;
}

#Contacto .imagen-cont {
    display: flex;
    width: 21.875rem; /* 350px */
    position: absolute;
    left: 44.5rem;
    bottom: 27vh;
    align-items: center;
    justify-content: center;
}

.instagram, .facebook {
    color: black;
}

.form-label {
    color:rgb(0, 0, 0);
}
.btn-primary {
    width: 12.5rem; /* 200px */
    height: 2.5rem; /* 40px */
    background-color: rgb(76, 29, 62);
    border: 1px solid rgb(12, 11, 11);
    border-radius: 0.3125rem; /* 5px */
    color: white;
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
}

/* Footer */
.footer {
    box-sizing: border-box;
    padding-top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(76, 29, 62);
    overflow: visible;
    position: relative;
    padding: 0 0 1rem 0;
}

.mapa {
    align-items: bottom;
    display: block;
    width: 100%;
    height: 50vh;
}

.redes {
    display: inline-block;
    position: relative;
    color: rgb(247, 201, 239);
    width: 50%;
    height: 45vh;
    text-align: center;
    align-items: center;
    padding: 1.25rem; /* 20px */
    font-size: 1.4rem;
}

.cajalogo {
    display: inline-block;
    position: absolute;
    padding: 2.8125rem; /* 45px */
    width: 30%;
    height: 45vh;
    justify-content: center;
}

.logoimg {
    position: relative;
    display: flex;
    left: 40%;
    width: 13.2rem; /* 210px */
    bottom: 1.25rem; /* 20px */
}

.faceins {
    color: rgb(247, 201, 239);
    text-decoration: none;
}

.redes2:hover, a:hover {
    color: rgb(233, 233, 233);
}

/* Cambios en font-size para distintos tamaños de pantalla */
@media screen and (max-width: 1024px){
    #titulo_contacto{
        font-size: 3.5rem;
    }
    #Contacto .container{
        width: 67%;
    }
    #Contacto .formulario{
        height: auto;
    }
    #Contacto .form-control {
        height:4vh;
        font-size: 1.4rem;
    }
    #Contacto .form-label {
        font-size: 2.5rem;
    }
    #Contacto .btn-primary {
        width: 14.5rem;
        height: 4.5rem;
        font-size: 2.8rem;
    }
    #Contacto .imagen-cont{
        width:33%;
        top: 12rem;
    }

    .redes{
        font-size: 1.5rem;
    }
    .redes, .cajalogo{
        height: 25vh;
    }
    .logoimg{
        width: 19.2rem;
    }
}
 @media screen and (max-width: 1000px) {
    #Contacto h1{
        font-size: 4.5rem;
    }
    #Contacto .formulario{
        height: 42vh;
    }
    #Contacto .container {
        width: 50%;
        height: 57vh;
        position: relative;
        top: 4%;
        left: 2%;
        align-items: center;
        width: 100%;
    }
    #Contacto .form-control {
        height:4vh;
        font-size: 2rem;
    }
    #Contacto .form-label {
        font-size: 2.5rem;
    }
    #Contacto .btn-primary {
        width: 14.5rem;
        height: 4.5rem;
        font-size: 2.8rem;
    }
    .redes{
        font-size: 2.8rem;
    }
    .redes, .cajalogo{
        height: 27hv;
        width: 42%;
    }
    .cajalogo img{
        width: 32.8rem;
        top:7rem;
    }
}

@media screen and (max-width: 912px) and (max-height: 1368px) {
    #titulo_contacto{
        font-size: 5.5rem;
    }
    #Contacto {
        height: 100%;
    }
    #Contacto .formulario form {
        width:53%;
    }
    #Contacto .imagen-cont{
        width:72%;
        left: 34vh;
    }
    .redes,.cajalogo{
        height: 27vh;
    }
  }

@media screen and (max-width: 768px) {
    
    #Contacto .container {
        position: relative;
        align-items: center;
        width: 100%;
    }

    #Contacto .form-label {
        font-size: 1.5rem;
    }
    #Contacto .imagen-cont {
        top: 1vh;
        left: 36vh;
        width: 50%;
    }

    .redes,.cajalogo{
        height: 50vh;
    }
    .cajalogo img {
        width: 31.8rem;
    }
}

 @media screen and (max-width: 665px) {
    #Contacto .formulario {
        height: 53vh;
    }
    #Contacto .formulario .container{
        width: 95%;
        padding: 0;
        margin: 0;
    }
    #Contacto .form-label {
        font-size: 1.5rem;
    }
    #Contacto .form-control {
        height: 4vh;
        font-size: 1.3rem;
    }
    #Contacto .imagen-cont {
        top: 10vh;
        left: 36vh;
    }
    #Contacto .imagen-cont img{
        width:80%;
    }
    #Contacto .btn-primary {
        width: 7.5rem;
        height: 3.5rem;
        font-size: 1.8rem;
    }

    .redes{
        font-size: 2rem;
    }
    .redes,.cajalogo{
        height: 50vh;
    }
    .cajalogo img {
        width: 22rem;
        height: 33vh;
    }

}
@media screen and (max-width: 430px) {
    #Contacto .form-label {
        font-size: 2.5rem;
    }
    #Contacto .form-control {
        height: 4vh;
        font-size: 1.8rem;
    }
    #Contacto .imagen-cont {
        top: 10vh;
        left: 22vh;
    }

    .redes{
        width: 40%;
    }
    .redes strong{
        font-size: 2rem;
    }
    .redes,.cajalogo{
        height: 50vh;
    }
    .cajalogo{
        width: 60%;
    }
    .cajalogo img {
        width: 21rem;
        height: 31vh;
        left: 3rem;
    }
}

@media screen and (max-width: 414px) {
    #Contacto .formulario .container{
        width: 95%;
        padding: 0;
        margin: 0;
    }
    #Contacto .imagen-cont {
        left: 19.7rem;
        width: 50%;
        top: 19vh;
        bottom: 71vh;
    }
    #Contacto .imagen-cont img {
        width: 84%;
        height: 23vh;
    }

    .cajalogo img {
        width: 20rem;
    }
}

@media screen and (max-width: 412px) {
    * {
        font-size: 1.04rem;
    }
    #Contacto .formulario form {
        width: 55%;
    }
    #Contacto .imagen-cont img{
        width: 16rem;
    }
    #Contacto .imagen-cont {
        left: 20.5rem;
        width: 49%;
        bottom: 72vh;
    }
    .redes,
    .cajalogo{
        height: 24rem;
    }
    .redes i{
        font-size: 2.5rem;
    }
    .redes {
        width: 35%;
    }
    .cajalogo img {
        width: 19.9rem;
        height: 30rem;
        top: 13rem;
    }
}
@media screen and (max-width: 390px){
    #Contacto .imagen-cont img{
        width: 16rem;
        height: 27vh;
    }
    #Contacto .imagen-cont {
        left: 19.5rem;
        bottom: 69vh;
    }

    .cajalogo img {
        width: 19.9rem;
        height: 30rem;
    }
}

@media screen and (max-width: 375px){
    #Contacto .formulario{
        height: 50vh;
    }
    #Contacto .form-label {
        font-size: 1.5rem;
    }
    #Contacto .form-control {
        font-size: 1.1rem;
    }
    #Contacto .imagen-cont {
        left: 18.9rem;
    }

    .redes i{
        font-size: 2.5rem;
    }
    .redes strong {
        font-size: 1.4rem;
    }
    .redes {
        width: 37%;
    }
    .cajalogo img {
        left: 1rem;
        width: 19.9rem;
        height: auto;
    }
}

@media screen and (max-width: 360px) {
    * {
        font-size: 0.99rem;
    }
    #Contacto .imagen-cont img{
        width: 15rem;
    }
    #Contacto .imagen-cont {
        left: 18.2rem;
        bottom: 67vh;
    }

    .redes,
    .cajalogo{
        height: 20.8rem;
    }
    .cajalogo img {
        width: 19.7rem;
    }
}

@media screen and (max-width: 280px) {
    #Contacto .formulario {
        height: 55vh;
    }
    #Contacto .imagen-cont img{
        width: 12rem;
    }
    #Contacto .imagen-cont {
        left: 14.1rem;
        bottom: 64vh;
    }

    .redes {
        width: 50%;
    }
    .redes i{
        font-size: 1.5rem;
    }
    .form-label{
        font-size: 1.2rem;
    }
    .cajalogo{
        width: 30%;
    }
    .cajalogo img{
        width: 10.7rem;
        height: 16rem;
        top: 6rem;
    }
} 